*, *::before, *::after {
   box-sizing: content-box !important;
   -webkit-box-sizing: content-box !important;
}

#game{
    position: absolute;
    width:303px;
    border:solid 3px;
    left:50%;
	margin-left:-151px;
}
 
.linha{
    height:100px;
    border-bottom:solid 1px;
}
 
.home{
    width: 100px;
    height: 100px;
    border-right:solid 1px;
    float:left;
}

#result{
    display: block;
    float: left;
    height:100px;
    width:250px;
    top:65%;
    left:30%;
}

#startButton{
    margin-bottom: 30px;
}

#restartButton{
    margin-left: 160px;
}

#score{
    width: 303px;
    float: right;
    margin-right: 100px;
}

#rodape{
    margin-top: 374px
}

#modalX{
    display: none;
}

#modalO{
    display: none;
}

#modalDraw{
    display: none;
}

#aDraw{
    margin-top: 50px;
    margin-right: 100px;
}